@if (GameManager != null)
{
<div 
    class="scene" 
    tabindex="0"
    @onkeydown="e => KeyDown(e)" 
    @onmousedown="e => MouseDown(e)"
    >
    <div class="sky">

        @if(GameManager?.IsRunning == true ||
            GameManager.IsGameOver) 
        {

        <div class="pipe top"
            style="left: @(GameManager.Pipes?.PipeTop.Left ?? 0)px;
                top: calc(@(GameManager.Pipes?.PipeTop.Top ?? 0)px)"
            >
        </div>
        <div class="pipe bottom" 
            style="left: @(GameManager.Pipes?.PipeBottom.Left ?? 0)px;
                top: calc(@(GameManager.Pipes?.PipeBottom.Top ?? 0)px)"
                >
        </div>

        <div class="bird" 
            style="top: @(GameManager.Bird?.Top ?? 0)px; 
            animation-name: @(GameManager.IsRunning && !GameManager.IsPaused ? "bird-animation" : "");
            transform: rotate(@(GameManager.Bird.Velocity > 0.1 ? 20 : GameManager.Bird.Velocity >= 0 ? 0: -20)deg)
        "></div>
        
        <div class="text" style="text-align: center;">@GameManager.Score</div>
        }
    </div>
    <div class="ground"
        @onclick="e => Start()"
        style="animation-name: @(GameManager.IsRunning && !GameManager.IsPaused ? "ground-animation" : "")"></div>


    <div class="overlay">        
    @if(GameManager.IsGameOver)
    {
        <div style="position: absolute; top: 80px;left: 15px;">
        <img src="assets/text-gameover.png" />
        <div style="background: url(assets/panel-scoreboard.png);width: 113px;height: 57px;margin-bottom: 10px;">
            <div class="medal" style="position:absolute;left: 13px;top:45px;">
                @if(GameManager.Score>2) {
                  <img src="assets/coin-gold.png" />
                }
                else  {
                  <img src="assets/coin-silver.png" />
                }
            </div>
            <div class="text score" style="font-size: 10px;position: absolute; right: 18px;top:42px;">@GameManager.Score</div>
            <div class="text score" style="font-size: 10px;position: absolute; right: 18px;top:63px;">@GameManager.BestScore</div>
        </div>
        
        <img class="btn ok" src="assets/button-ok.png" @onclick="e => Start()" />
        </div>
    }
    else if(GameManager?.IsRunning != true)
    {
        <img class="get-ready" src="assets/text-get-ready.png" />
        <img class="help-instruction" src="assets/help-instruction.png" />
        <img class="btn play" src="assets/button-play.png" @onclick="e => Start()" />
    }
    else
    {
        <img class="btn pause" src="assets/button-pause.png" @onmousedown="e => TogglePause()" @onmousedown:stopPropagation/>
    }
    </div>
    
</div>
}

@code {
    public GameManager GameManager { get; set; } = new GameManager();

    public void Start()
    {
        GameManager.StartGame();
    }

    public void TogglePause()
    {
        if (GameManager.IsPaused)
        {
            GameManager.ResumeGame();
        }
        else
        {
            GameManager.PauseGame();
        }
    }

    public void KeyDown(KeyboardEventArgs e)
    {
        GameManager.Bird.Jump();
    }
    public void MouseDown(MouseEventArgs e)
    {
        GameManager.Bird.Jump();
    }

    protected override void OnInitialized()
    {
        GameManager.Rendered += () =>
        {
            StateHasChanged();
        };
    }
}

<style>
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right:0;
    }
    .text {
        font-family: "04B_19";
        color: white;
        filter: drop-shadow(1px 2px 0px rgba(0,0,0,0.4));
    }
    .btn {
        cursor: pointer;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

    .btn:hover {
        transform: translateY(-1px) translateX(-0.5px);
        transform-origin: top left;
    }

    .get-ready {
        position: absolute;
        top: calc(50% - 50px); 
        left: calc(50% - 40px);
    }

    .play {
        position: absolute;
        top: 45%;
        left: calc(50% - 23px);
    }

    .help-instruction {
        position: absolute;
        top: 65%;
        left: calc(50% - 23px);
    }

    .pause {
        position: absolute;
        top: 3px;
        left: 3px;
    }

    .scene {
        margin: auto;
        transform: translateX(-25%) scale(2, 2);
        transform-origin: 0 top;
        width: 144px;
        height: 256px;
        position: relative;
        overflow: hidden;
        outline: none;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
       
    }

    .sky {
        background: url("assets/bg-day.png") no-repeat;
        width: 100%;
        height: 100%;
            
        image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges;          /* Firefox                        */
        image-rendering: -o-crisp-edges;            /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated; /* Chrome */
        image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    }

    .bird {
        background: url("assets/bird-wing-up.png") no-repeat;
        position: absolute;
        width: 17px;
        height: 12px;
        left: 40px;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges;          /* Firefox                        */
        image-rendering: -o-crisp-edges;            /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated; /* Chrome */
        image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
        filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3));
    }

    .pipe {        
        position: absolute;
        width: 26px;
        height: 160px;

        image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges;          /* Firefox                        */
        image-rendering: -o-crisp-edges;            /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated; /* Chrome */
        image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    }
    .pipe.top {
        
        top: 100px;
        background: url("assets/pipe-down.png") no-repeat;
    }
    .pipe.bottom {
        
        bottom: 100px;
        background: url("assets/pipe-up.png") no-repeat;
    }

    .ground {
        background: url("assets/ground.png") no-repeat;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        animation-duration: 0.14s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges;          /* Firefox                        */
        image-rendering: -o-crisp-edges;            /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated; /* Chrome */
        image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    }
    @@keyframes ground-animation {
        from {
            background-position-x: 0px;
        }
        to {
            background-position-x: -11px;
        }
    }
    @@keyframes bird-animation {
        0% {
            background-image: url(assets/bird-wing-up.png);
        }
        30% {
            background-image: url(assets/bird-wing-middle.png);
        }
        60% {
            background-image: url(assets/bird-wing-down.png);
        }
        90% {
            background-image: url(assets/bird-wing-middle.png);
        }
        100% {
            background-image: url(assets/bird-wing-up.png);
        }
    }

    @@font-face {
        font-family: '04B_19';
        
        src: url('assets/04B_19__.ttf') format('truetype'); /* Safari, Android, iOS */
        font-weight: normal;
        font-style: normal;
    }
</style>